<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="${catalina.base}/logs" />
    <substitutionProperty name="default_pattern" value="%n               ----- %msg%n" />

    <appender name="INFO_HTTP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/info_http.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/info_http.%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <encoder>
            <Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger]${default_pattern}</Pattern>
            <Charset>UTF-8</Charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ERROR_HTTP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/error_http.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/error_http.%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <encoder>
            <Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%thread] [%logger:%line]${default_pattern}</Pattern>
            <Charset>UTF-8</Charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="WARN_HTTP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/warn_http.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/warn_http.%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <encoder>
            <Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%thread] [%logger:%line]${default_pattern}</Pattern>
            <Charset>UTF-8</Charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="http" additivity="false">
        <level value="info" />
        <appender-ref ref="INFO_HTTP" />
        <appender-ref ref="ERROR_HTTP" />
        <appender-ref ref="WARN_HTTP" />
    </logger>

</configuration>